# dependências
node_modules/

# build
dist/

# sistema operacional
.DS_Store

# arquivos locais / de ambiente
*.local
*.log
.env
.env.*

# Vercel
.vercel

# logs de package managers
npm-debug.log*
pnpm-debug.log*
